.albumWrapper {
  margin-left: 40px;
  padding-top: 12px;
  margin-bottom: 20px;
}

.albums {
  display: flex;
}

.album {
  width: 244px;
  margin-top: 15px;
  margin-right: 20px;
  cursor: pointer;
}

.album:hover {
  filter: brightness(0.8);
  text-decoration: underline;
  font-weight: 600;
}

.album .category {
  font-size: 14px;
}
