.main {
  flex: 1;
  /* height: 1000px; */
  background-color: #1f1f1f;
  color: white;
  text-align: center;
}

.description {
  width: 640px;
  margin: 0 auto;
}

.description .h1 {
  margin: 0 auto 15px;
  max-width: 640px;
  font-size: 64px;
  font-weight: 600;
}

.description p {
  max-width: 440px;
  margin: 0 auto 30px;
  font-size: 18px;
}

.description button {
  padding: 10px 30px;
  background-color: #d60017;
  color: white;
  border: 0px;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 30px;
}

.description learn {
  display: flex;
  align-items: center;
  color: white;
}

.description .learn a {
  color: white;
}

.main img {
  margin-bottom: 0;
}
