@font-face {
  font-family: "AppleSDGothicNeoM";
  /* font-weight: 50; */
  src: url("./fonts/AppleSDGothicNeoM.woff");
}

@font-face {
  font-family: "SF-Pro";
  font-weight: 600;
  src: url("./fonts/SF-Pro.woff");
}

.App {
  /* text-align: center; */
  width: 100%;
  height: 100%;
  font-family: "SF-Pro";
}

.wrapper {
  display: flex;
  width: 100%;
  height: 100vw; /* 고쳐야함 -> 100%로 */
}
